

<body>
<header>
  <nav id="header-nav" class="navbar navbar-default">
    <div class="container">
      
      <div class="navbar-header">
        <a class="pull-left visible-md visible-lg">
          <div id="logo-img"></div>
        </a>

        <div class="navbar-brand">
          <a ><h1>JainsHouse Restaurant & Bar</h1></a>
          <p>
            <img src=".\assets\restaurant\fssai logo.png"alt="Fssai certification">
            <span>Fssai Certified</span>
          </p>
        </div>

        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <div class="headButton">
            
            <button class="btn btn-sm btn-outline-secondary" type="button">Home</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Menu</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Today's Special</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Awards</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Contact</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Branchs</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Wallet</button>
            </div>

          </form>
        </nav>
      </div>
     
      
    
      
    </div><!-- .container -->
  </nav><!-- #header-nav -->
</header>
</body>
