<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">HelperBeta</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/restaurant">
      <mat-icon>Restaurant</mat-icon> Restaurant
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/chatbot">
      <mat-icon>Chatbot</mat-icon> Chatbot
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/shareit">
      <mat-icon>ShareIt</mat-icon> ShareIt
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/photoedit">
      <mat-icon>PhotoEdit</mat-icon> Photo Edit
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/calculator">
      <mat-icon>Calculator</mat-icon> calculator
    </a>
  
  </mat-nav-list>
  